<div class="container">
    <div class="col-xs-12">
        <div style="text-align: center;">
            <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
        </div>
        <form (ngSubmit)="onSubmit()" [formGroup]="authForm" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" id="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password">
            </div>
            <div>
                <button class="btn btn-primary" type="submit"
                    [disabled]="!authForm.valid">{{ isLoginMode ? "Login" : "Sign Up"}}</button> |
                <button class="btn btn-primary" type="button" (click)="onSwitchMode()">Switch to
                    {{ !isLoginMode ? "Login" : "Sign Up"}}</button>
            </div>
        </form>
        <br>
        <div class="panel panel-danger" *ngIf="error">
            <div class="panel-heading">An error ocurr!!</div>
            <div class="panel-body">
                {{error}}
            </div>
            <button class="btn btn-danger">Ok</button>
        </div>
    </div>
</div>